.title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  transition: 0.9s;
  display: -webkit-flex;
  justify-content: center;
}

.movie-info{
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 10px;
}

.description {
  text-align: center;
  transition: 0.5s;
  overflow: scroll;
  width: 40%;
  height: 250px;
  position: relative;
  left: 20px;
  top: 40px;
  display: flex;
  flex-direction: column;
}

.description p {
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px black solid;
  height: auto;
}

.movie-img {
  float: left;
}

.movie {
  justify-content: center;
  transition: 2s;
}

.info {
  display: flex;
  flex-direction: row;
  margin-top: 3em;
}

span > span > img {
  width: 100%;
}

div > h4 {
  border: 1px black solid;
  padding: 10px;
}

@media only screen and (max-width: 500px) {
  span > span > img {
    width: 20%;
  }

  span > span {
    text-align: center;
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  .title {
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;

  }

  .movie {
    display: flex;
  }

  .movie-info{
 
    margin-top: 35px;
  }

  .description {
    width: 100%;
    overflow: scroll;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
    left: 0px;
    height: 300px;
  }
}

@media only screen and (max-width: 850px) {
  span > span > img {
    width: 20%;
  }

  span > span > img {

    margin-left: auto;
    margin-right: auto;
  }

  span > span {
    text-align: center;
   
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    margin-bottom: 2em;

  }

  .movie {
    display: flex;
  }

  .description {
    width: 100%;
    overflow: scroll;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
    left: 0px;
    height: 300px;
    border: 4px black solid;
  }
}

.sign-in-box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin: 40px;

}

.sign-in-center{
  width:563px;
  height: 368px;
  margin: 5px;
  text-align: center;
  background-color: antiquewhite;
  flex-direction: column;

}

.email-input{
  width: 50%;
  margin: 10px;
}

.password-input {
  width: 50%;
  margin: 10px;
}

.submit-imput{
  width: 50%;
  margin: 10px;
}

.social-media-icons{
  margin: 10px;
}